body {
    background-color: aqua;
  
}

/* div {
    height: 33vh;
} */

#div1 {
    background-color: orange;
    height: 15vh;
}

#div2 {
    background-color: red;
    height: 85vh;
    width: 10vw;
    float: left;
}

#div3 {
    background-color: green;
    width: 90vw;
    height: 85vh;
    float: left;
}

.div2-menu {
    background-color: yellow;
    height: 5vh;
}
